#(project
  (#(meta
     (#(name lmug-json)
      #(description "lmug middleware functions for handling JSON requests and responses."
      #(version "0.0.1")
      #(keywords ("LFE" "Lisp" "Library" "HTTP" "Server" "Web" "Middleware" "JSON"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfe-mug/lmug-json")))))
   #(app
     (#(mod #(lmug-json ()))))))

